:root {
  --bg-color: #0f0c29;
  --bg-green: #047c18;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.footer_container {
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 170px;
  width: 100%;
  background-color: #047c18;
  color: white;
  text-align: center;
  padding: 10px 0px;
}
.footer_container ul {
  position: relative;
}
.footer_container ul li {
  list-style-type: none;
  margin: 0px 10px;
  margin-top: 12px;
  display: inline-block;
}

.footer_container ul li a {
  color: #fff;
  width: 30px;
  height: 30px;
  background: linear-gradient(45deg, #5ffaff93, #76ff71);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 14px;
  transition: 0.3s;
}

.Wrapper_sec_Container {
  position: relative;
  display: block;
  /* margin: 100px 0px; */
}
